body{
color: rgb(241, 17, 17);
background: rgb(245, 244, 244);
margin:0px;
}

header{
    border-bottom: solid 2px rgb(42, 122, 228) ;
    padding: 20px;
    font-size: 32px;
color: rgb(17, 58, 241);
}